/* @font-face {
  font-family: 'montserrat';
  src: url('fonts/Montserrat-Black.ttf');
} */
a {
  color: #000000;
  text-decoration: none;
  font-family: 'Montserrat';
  font-size: 12px;
}

nav {
  display: flex;
  justify-content: space-between;
  max-width: 1440px;
  height: 150px;
}

#first-section {
  display: flex;
  justify-content: space-between;
}

.aside-text {
  font-family: 'Montserrat';
}
